:root {
  --primary: #1d9bf0;
  --primaryDark: #2766cc;
  --background: #fff;
  --text: #000;
  --danger: #e74c3c;
  --warning: #e67e22;
  --success: #2ecc71;
}

.twButton {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 26px;
  width: fit-content;
  height: 52px;
  padding: 0 10px 0 10px;
  font-family: Helvetica, sans-serif;
}

.twButton--only-text {
  width: auto;
  max-width: 226px;
  justify-content: center;
}

.twButton--only-icon {
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: initial;
}

.twButton--primary {
  background-color: var(--primary);
  color: var(--background);
}
.twButton--secondary {
  background-color: var(--background);
  color: var(--text);
}
.twButton--brand {
  background-color: var(--background);
  color: var(--primary);
}
.twButton--success {
  background-color: var(--success);
  color: var(--background);
}
.twButton--warning {
  background-color: var(--warning);
  color: var(--background);
}
.twButton--danger {
  background-color: var(--danger);
  color: var(--background);
}

.twButton:hover {
  filter: brightness(90%);
}
.twButton .twButton--only-icon :hover {
  filter: brightness(90%);
}
